<ion-card padding>
    <ion-card-title text-center>
        Reset password
    </ion-card-title>
    <ion-card-content>
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm.value)">
            <ion-list inset>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input name="email" #name="ngModel" type="email" [(ngModel)]="passwordResetForm.email"></ion-input>
                </ion-item>

                <div *ngIf="!email.valid && email.touched">
                    <div><small *ngIf="email.errors.pattern && email.dirty" danger>Check email format...</small></div>
                    <div><small *ngIf="email.errors.minlength && email.dirty || email.errors.maxlength && email.dirty" danger>Lenght is between 6-64 charackters...</small></div>
                </div>

                <div text-center>
                    <button [disabled]="!passwordResetForm.valid" type="submit" margin-top>
<ion-icon name="log-in"></ion-icon> Send reset email...
</button>
                </div>
                <div text-center>
                    <button (click)="onCancel()" type="button" clear text-center>Cancel</button>
                </div>
            </ion-list>
        </form>
    </ion-card-content>
</ion-card>